nav ul{
    display: flex;
    /* flex-wrap: wrap; */
}
nav li {
    list-style: none;
    margin: 0 auto;
    font-size: large;
    font-weight: bold;
    font-family: sans-serif;
}
nav li a{
    text-decoration: none;
    color: black;
}
nav li :hover{
    background-color: darkgray;
    color: darkred;
}
