.hero-container{
    display: flex;
    background-color: lightgreen;
}
.hero-container div img{
     width: auto;
     height: 300px;
     padding: 20px;
}
body{
    max-width: 1140px;
    background-color: bisque;
    margin: 0 auto;
}
.one{
    /* margin: 0 auto; */
    padding: 20px 70px;
}