body{
    max-width: 1140px;
    background-color: bisque;
    margin: 0 auto;
}
.hero-container{
    display: flex;
    background-color: lightgreen;
    font-size: 1.25em;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}
.hero-container div img{
     width: auto;
     height: 300px;
     padding: 20px;
     border-radius: 50px;
}
.one{
    /* margin: 0 auto; */
    padding: 20px 70px;
}
.hero-container button{
    background-color:brown ;
    padding: 20px 30px;
    border-radius: 25px;
    justify-content: center;
    box-shadow: 5px 5px 5px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}
h1{
    font-family: sans-serif;
}
.hero-container button .hover{

}