body{
    max-width: 1240px;
    /* background-color: bisque; */
    text-align: center;
    margin: 0 auto;
}
.card-container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    /* align-content: center; */
    
}
.card{
    width: 250px;
    border: 2px solid sandybrown;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.267);
}
.card img{
    width: 100%;
    border-radius: 10px;
}
.card button{
    color: aliceblue;
    background-color:brown ;
    padding: 20px 30px;
    border-radius: 15px;
    justify-content: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.781);
    font-weight: bold;
    /* font-size: large; */
    cursor: pointer;
}
.card:hover{
    background-color: rgba(137, 43, 226, 0.479);
    cursor:pointer;
}
.card h3 a{
    text-decoration: none;
}