table{
    border-collapse: collapse;
}
td{
    border: 1px solid maroon;
    padding: 10px 20px;
    text-align: center;
}
th{
    border: 1px solid maroon;
    padding: 10px 20px;
}
.total{
    text-align: right;
}

